
<app-header></app-header>
<div style="margin-left: 550px; width: 450px" class="overflow-auto h-4/5 pb-6 shadow-md px-8 pt-6 bg-gray-100 my-10 rounded-3xl text-gray-500">
  <h1 mat-dialog-title>
    Comidas
  </h1>

  <form [formGroup]="comidasForm">
        <mat-radio-group
          formControlName="entradasForm"
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-label>Entradas</mat-label>
          <mat-radio-button class="example-radio-button" *ngFor="let entradas of entradas" [value]="entradas">
            {{entradas}}
          </mat-radio-button>
        </mat-radio-group>

        <mat-radio-group
          formControlName="jugosForm"
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-label>Jugos</mat-label>
          <mat-radio-button class="example-radio-button" *ngFor="let jugos of jugos" [value]="jugos">
            {{jugos}}
          </mat-radio-button>
        </mat-radio-group>
        <mat-radio-group
          formControlName="platosCartaForm"
          aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-label>Platos a la carta</mat-label>
          <mat-radio-button class="example-radio-button" *ngFor="let platosCarta of platosCarta" [value]="platosCarta">
            {{platosCarta}}
          </mat-radio-button>
        </mat-radio-group>

      <mat-radio-group
        formControlName="postresForm"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <mat-label>Postres</mat-label>
        <mat-radio-button class="example-radio-button" *ngFor="let postres of postres" [value]="postres">
          {{postres}}
        </mat-radio-button>
      </mat-radio-group>


      <mat-radio-group
        formControlName="gaseosasForm"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <mat-label>Gaseosas</mat-label>
        <mat-radio-button class="example-radio-button" *ngFor="let gaseosas of gaseosas" [value]="gaseosas">
          {{gaseosas}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-radio-group
        formControlName="sopasForm"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <mat-label>Sopas</mat-label>
        <mat-radio-button class="example-radio-button" *ngFor="let sopas of sopas" [value]="sopas">
          {{sopas}}
        </mat-radio-button>
      </mat-radio-group>


      <mat-radio-group
        formControlName="mariscosForm"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <mat-label>Mariscos</mat-label>
        <mat-radio-button class="example-radio-button" *ngFor="let mariscos of mariscos" [value]="mariscos">
          {{mariscos}}
        </mat-radio-button>
      </mat-radio-group>
      <div >
        <button class="btn1" routerLink="/bookingPeoplePayment" [disabled]="comidasForm.invalid" mat-raised-button color="Warn" >Pagar ahora</button>
        <button routerLink="/bookingPeopleFinished" [disabled]="comidasForm.invalid" type="submit" mat-raised-button color="primary" >Continuar</button>
      </div>
  </form>
  </div>


