
  <div class="h-full min-h-full">
    <app-header></app-header>
    <div class="mt-5 mx-64">
      <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4 bg-gray-100">
        <div class="flex flex-col lg:flex-row justify-between gap-8">
          <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-black dark:text-black pb-4"> Sobre nosotros</h1>
            <p class="font-normal text-base leading-6 text-black dark:text-black">📣RESTAURANTE TURÍSTICO WAKAPIEDRA - MOCHE📣🥘🤩
              🤩¡Vive momentos inolvidables! en el corazón de Moche, muy cerca de las Huacas del Sol y La Luna.
              🍱 WakaPiedra - Moche te brinda diversos platillos criollos, parrillas, la tradicional sopa teóloga y más.
              🤩⚡Ven y disfruta de un cálido ambiente familiar con zonas verdes, campo de fútbol y voley, y una refrescante piscina.
              ⏰Horario: a partir de las 11:00 a.m.
              📌Dirección: Campiña de Moche (cerca a las Huacas del Sol y La Luna)
              📲Para mayor información al 948322437</p>
          </div>
          <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="assets/img/watch.PNG" alt="A group of People" />
          </div>
        </div>
      </div>
    </div>

  </div>
