<div class="bg-green-400 h-full min-h-full">
  <app-header></app-header>
  <div>
    <table class="mt-4 mx-10 float-left">
      <p class="text-3xl">Ubicación</p>
        <img src="../../../../assets/img/ubicacion.JPG" alt="">
      <div class="mt-5">
        <p class="text-3xl">Dirección</p>
          <div class="card shadow-md px-8 pt-6 pb-8 flex flex-col max-w-xl bg-gray-100 p-4 my-10 w-auto rounded-2xl text-gray-500 text-2xl">
            Campiña de moche, Trujillo, Peru, 44
          </div>
      </div>

    </table>
  </div>

</div>
