<div style="margin-left: 550px; width: 450px" class="text-base shadow-md px-8 pt-6 pb-8 w-7/12 flex flex-col bg-gray-200 my-10 max-w-md rounded-3xl text-gray-500">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="save()" #frmOrder="ngForm">
      <div>
      <mat-form-field class="w-11/12">
        <mat-label> ¿Cuantas personas vendrán?</mat-label>
        <mat-select formControlName="personas">
          <mat-option *ngFor="let personas of personas" [value]="personas">
            {{personas}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <div>
      <mat-form-field class="w-11/12">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" formControlName="nombre">
      </mat-form-field>
      </div>
      <div>
      <mat-form-field class="w-10/12">
        <mat-label> Primer apellido</mat-label>
        <input matInput autocomplete="off" formControlName="papellido" >
      </mat-form-field>
      </div>
      <div>
      <mat-form-field class="w-10/12">
        <mat-label>Segundo apellido</mat-label>
        <input matInput autocomplete="off" formControlName="sapellido" >
      </mat-form-field>
      </div>
      <div>
      <mat-form-field class="w-10/12">
        <mat-label>Horario</mat-label>
        <mat-select formControlName="horario">
          <mat-option *ngFor="let horario of horario" [value]="horario" >
            {{horario}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <mat-form-field class="w-10/12">
        <mat-label>Motivo del Evento</mat-label>
        <textarea matInput autocomplete="off" formControlName="evento"></textarea>
      </mat-form-field>
    </form>
</div>

<div style="margin-left: 550px; width: 450px" class="text-base shadow-md px-8 pt-6 pb-8 w-7/12 flex flex-col bg-gray-200 my-10 w-9/12 rounded-3xl text-gray-500">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="save()" #frmOrder="ngForm">
        <div>
            <mat-form-field appearance="outline" class="w-11/12">
                <mat-label>Producto (escribe aqui)</mat-label>
                <input
                  type="text"
                  placeholder="Escribe una letra para buscar un producto"
                  matInput
                  [matAutocomplete]="autoProducto"
                  [formControl]="myControlPlato"
                  formControlName="plato"
                />

                <mat-autocomplete
                  #autoProducto="matAutocomplete"
                  [displayWith]="mostrarPlato"
                >
                  <mat-option *ngFor="let p of platosFiltrados$ | async" [value]="p">
                    {{ p.nombre }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
          </div>

        <div>
        <mat-form-field class="w-11/12">
            <mat-label>Cantidad</mat-label>
            <mat-select formControlName="quantity">
              <mat-option *ngFor="let cantidad of cantidad" [value]="cantidad">
                {{cantidad}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
      <div class="mb-5">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="agregarPlato()">
          Agregar producto
        </button>
        <button mat-raised-button color="primary" type="submit">Realizar Reserva</button>
      </div>
      <table>
        <td>Plato</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Precio</td>
        <td></td>
        <td></td>
        <td></td>
        <td>Cantidad</td>
        <td></td>
        <td></td>
        <td></td>
      </table>
      <table class="table text-center font-medium" *ngFor="let old of orderLines; let i = index">
          <td>Plato</td>
          <td>{{old.plato.nombre}}</td>
          <td>Precio</td>
          <td>{{old.plato.price}}</td>
          <td>Cantidad</td>
          <td>{{old.quantity}}</td>
          <td>
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="removerPlato(i)">
              Eliminar
            </button>
          </td>
      </table>
    </form>
    <div class="text-end mt-5">
        <button mat-raised-button color="primary" routerLink="/adminBooking">
          Atras
        </button>
      </div>
</div>
