<app-header></app-header>
<mat-card class="overflow-auto shadow-md px-8 pt-6 my-5 pb-8 h-4/6 w-9/12 flex flex-col mx-auto bg-gray-100 p-4 mx-auto w-auto rounded-3xl text-gray-500">
  <form [formGroup]="formReserva">
    <mat-grid-list cols="4" rowHeight="70px">
      <!--Personas-->
      <mat-grid-tile [colspan]="1" [rowspan]="1" >
        <mat-form-field class="w-11/12">
          <mat-label> ¿Cuantas personas vendrán?</mat-label>
          <mat-select formControlName="personas">
            <mat-option *ngFor="let personas of personas" [value]="personas">
              {{personas}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="6" >
        <img src="./assets/img/watch.PNG">
      </mat-grid-tile>
      <!--Nombre-->
      <mat-grid-tile [colspan]="1" [rowspan]="1" >
        <mat-form-field class="w-11/12">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" formControlName="nombre">
        </mat-form-field>
      </mat-grid-tile>
      <!--Primer apellido-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="w-10/12">
          <mat-label> Primer apellido</mat-label>
          <input matInput autocomplete="off" formControlName="papellido" >
        </mat-form-field>
      </mat-grid-tile>
      <!--Segundo Apellido-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="w-10/12">
          <mat-label>Segundo apellido</mat-label>
          <input matInput autocomplete="off" formControlName="sapellido" >
        </mat-form-field>
      </mat-grid-tile>
      <!--Personas-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="w-10/12">
          <mat-label>Horario</mat-label>
          <mat-select formControlName="horario">
            <mat-option *ngFor="let horario of horario" [value]="horario" >
              {{horario}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <!--Horario-->
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="w-10/12">
          <mat-label>Fecha</mat-label>
          <input matInput [min]="currentDate" [matDatepicker]="picker" formControlName="fecha" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button routerLink="/adminBooking" mat-raised-button style="margin-right: 20px">Volver</button>
        <button type="submit" [disabled]="formReserva.invalid" mat-raised-button color="primary">Aceptar</button>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
</mat-card >

