<app-header></app-header>
<div class="bg-white p-4 rounded-3xl max-w-lg mx-auto my-10">
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="peoplechoosearray">
    <p class="text-3xl">¿Cuantas personas vendrán?</p>
    <mat-radio-button class="p-2 text-3xl" *ngFor="let people of people" [value]="people">
      {{people}}
    </mat-radio-button>
        <div class="w-full m-10">
        <textarea class="border-2 " matInput placeholder="Especifique aqui!"></textarea>
        </div>
  </mat-radio-group>
  <div class="text-right text-2xl">
    <button routerLink="" mat-button color="primary" class="bg-gray-400 rounded-2xl p-1">Continuar</button>
  </div>
</div>
