
  <div class="bg-green-400 h-full min-h-full">
    <app-header></app-header>
    <div class="mt-5 mx-64">
    <p class="text-3xl">Nosotros</p>
    </div>
    <!--max-w-xl* tamaño div en y-->
      <div class="card shadow-md px-8 pt-6 pb-8 flex flex-col  bg-gray-100 p-4 mx-60 my-1 w-auto rounded-3xl text-gray-500 text-2xl">
        <a>
          📣RESTAURANTE TURÍSTICO WAKAPIEDRA - MOCHE📣🥘🤩
          🤩¡Vive momentos inolvidables! en el corazón de Moche, muy cerca de las Huacas del Sol y La Luna.
          🍱 WakaPiedra - Moche te brinda diversos platillos criollos, parrillas, la tradicional sopa teóloga y más.
          🤩⚡Ven y disfruta de un cálido ambiente familiar con zonas verdes, campo de fútbol y voley, y una refrescante piscina.
          ⏰Horario: a partir de las 11:00 a.m.
          📌Dirección: Campiña de Moche (cerca a las Huacas del Sol y La Luna)
          📲Para mayor información al 948322437
        </a>
      </div>
  </div>
