
<div class="bg-green-400 h-full min-h-full">
  <app-header></app-header>
  <div class="mt-5 mx-64">
  <p class="text-3xl">Nosotros</p>
  </div>
  <!--max-w-xl* tamaño div en y-->
  <div class="card shadow-md px-8 pt-6 pb-8 flex flex-col  bg-gray-100 p-4 mx-60 my-1 w-auto rounded-3xl text-gray-500 text-2xl">
    <a>
      Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?

      At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
    </a>
  </div>
  </div>
