<app-header></app-header>
<div class="card shadow-md px-8 pt-6 pb-8 flex flex-col max-w-xl bg-gray-100 p-4 mx-auto my-10 w-auto rounded-3xl text-gray-500">
  <p class="text-3xl text-center">Tus datos</p>
  <form class="example-form" [formGroup]="form">
    <table class="example-full-width" ><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" formControlName="nombre">
      </mat-form-field></td>
    </tr>
    </table>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput autocomplete="off" formControlName="apellido">
      </mat-form-field>
    </p>
    <div class="relative py-4">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-b border-gray-500"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="bg-gray-100 px-4 text-1xl text-gray-500">¿Quieres pagar ahora?</span>
      </div>
    </div>
    <div class="text-center"><button [disabled]="form.invalid" routerLink="/bookingPeoplePayment" mat-button>(Click aqui!)</button></div>
  </form>
  <div class="text-right text-2xl">
    <button routerLink="/bookingPeopleFinished" [disabled]="form.invalid" mat-button color="primary" class="bg-gray-400 rounded-2xl p-1">Continuar</button>
  </div>
</div>
