<app-header></app-header>
<section class="text-center h-full m-10 text-4xl ">

  <mat-radio-group aria-label="Select an option">
    <p class="text-4xl">¿Cuantas personas vendrán?</p>
    <p><mat-radio-button value="1">1 persona </mat-radio-button></p>
    <p><mat-radio-button value="2">2 personas</mat-radio-button></p>
    <p><mat-radio-button value="3">3 personas</mat-radio-button></p>
    <p><mat-radio-button value="3">4 personas</mat-radio-button></p>
    <p><mat-radio-button value="3">5 personas</mat-radio-button></p>
    <p><mat-radio-button value="3">6 personas</mat-radio-button></p>

  </mat-radio-group>

<section>


