
<h1 mat-dialog-title>
  Comidas
</h1>
<div mat-dialog-content class="w-96">
<form [formGroup]="comidasForm" (ngSubmit)="saveFood()">
  <!--idT-->
  <mat-form-field class="w-10/12" >
    <mat-label>ID</mat-label>
    <input matInput autocomplete="off" formControlName="id">
  </mat-form-field>

  <mat-radio-group
    formControlName="entradasForm"
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="Entradas">
    <mat-label>Entradas</mat-label>
    <mat-radio-button class="example-radio-button" *ngFor="let entradas of entradas" [value]="entradas">
      {{entradas}}
    </mat-radio-button>
  </mat-radio-group>

    <mat-radio-group
      formControlName="jugosForm"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="Jugos">
      <mat-label>Jugos</mat-label>
      <mat-radio-button class="example-radio-button" *ngFor="let jugos of jugos" [value]="jugos">
        {{jugos}}
      </mat-radio-button>
    </mat-radio-group>

      <mat-radio-group
        formControlName="platosCartaForm"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="PlatosCarta">
        <mat-label>Platos a la carta</mat-label>
        <mat-radio-button class="example-radio-button" *ngFor="let platosCarta of platosCarta" [value]="platosCarta">
          {{platosCarta}}
        </mat-radio-button>
      </mat-radio-group>

    <mat-radio-group
    formControlName="postresForm"
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="Postres">
      <mat-label>Postres</mat-label>
      <mat-radio-button class="example-radio-button" *ngFor="let postres of postres" [value]="postres">
      {{postres}}
    </mat-radio-button>
    </mat-radio-group>


      <mat-radio-group
        formControlName="gaseosasForm"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="Gaseosas">
        <mat-label>Gaseosas</mat-label>
        <mat-radio-button class="example-radio-button" *ngFor="let gaseosas of gaseosas" [value]="gaseosas">
          {{gaseosas}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-radio-group
        formControlName="sopasForm"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="Sopas">
        <mat-label>Sopas</mat-label>
        <mat-radio-button class="example-radio-button" *ngFor="let sopas of sopas" [value]="sopas">
          {{sopas}}
        </mat-radio-button>
      </mat-radio-group>


    <mat-radio-group
      formControlName="mariscosForm"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="Mariscos">
      <mat-label>Mariscos</mat-label>
      <mat-radio-button class="example-radio-button" *ngFor="let mariscos of mariscos" [value]="mariscos">
        {{mariscos}}
      </mat-radio-button>
    </mat-radio-group>
  <div mat-dialog-actions [align]="'end'">
    <button mat-dialog-close="" mat-raised-button style="margin-right: 20px">Cerrar</button>
    <button [disabled]="comidasForm.invalid" type="submit" mat-raised-button color="primary" >Aceptar</button>
  </div>
</form>
</div>
